# Build output directories
/build/
/build_*/
/cmake-build-*/
/out/build/

# Data/runtime output
/data/

# IDE/system files
/.vs/
.DS_Store
/subprojects/ollama_engine/models
/.idea
/subprojects/ollama_engine/build
/.idea
/build-release
/subprojects/ollama_engine/evaluation/reference_repos
/.vectorised_rag
/build-tests/.vectorised_rag
/build-tests
/third_party/_deps/
/subprojects/ollama_engine/third_party/
/.gemini
/.idea
